extends layout

block head
	title Progress

block content
	.container
		.row
			.col-md-6
				.col-md-12.col-sm-12
					h1 Player
				.col-md-12
					audio(id='audio-player', controls)
				.col-md-12
					h1(id='info-player')
			.col-md-6.col-sm-12
				.list-group(id='list-group')

block scripts
	script(src='/assets/js/tool.js')